/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-datepicker
 */
.DeleteSelect:hover {
background-color: #FFFFFF;
color: #005580;
text-decoration: underline;
}
.newButton{
font-family: segoe ui semibold;
text-align: center;
font-size: 100%;
background-color: #C8C8C8;
padding: 3px 12px 5px;
border: 0px;
}
.newButton:hover{
  background-color: #FFFFFF;
}
.DeleteSelect{
  font-family: segoe ui semibold;
  padding: 3px 12px 5px;
  font-size: 100%;
  border: 0px;
  color: #585858;
  background-color: #C8C8C8;
}
